<!-- <div style="margin-left: 64em;">
    <mat-card style="border: 1px solid;width:93px;margin-top: 16px;cursor: pointer;" routerLink="/cartlist">
        <span matBadge="{{count}}"style="display: flow-root"  color="primary" > <img src="../../../assets/cart.png"
        style="max-width: -webkit-fill-available;height: 40px;"></span> 
        <span>${{totalamount}}</span>     
    </mat-card>

</div> -->
<!-- <button (click)="sendData()">SendData</button> -->
<div class="mainCards">
    <mat-card class="card" style="display: flex;flex-flow: row wrap;" style="width: 65vw;margin-top: -11px;
    ">
        <div *ngFor="let item of productArray" style="height: 200px;width: 250px;text-align: center;margin-top: 20px;">
            <div style="height: 100%;">
                <div class="card"  style="border: solid 1px; height: fit-content; height: 177px;background-color: skyblue;">
                    {{item.productName}}
                    <img  class="card-img-top" *ngIf="item.image" src="{{item.image}}"class="img-responsive fit-image"style="width: 120px;margin-top: 19px;height: 141px;">
                    <div style="margin: 32px auto;font-weight: 500;font-size: 21px;width: 35%;" *ngIf="!item.image">No Image</div>
                </div >
                <div style="display: flex;justify-content: space-between;">
                    <button mat-flat-button [routerLink]="['/product',item.productID]" class="btn btn-secondary" title="View Individual product">View</button>
                     <button mat-flat-button (click)="addCart(item)"  data-toggle="tooltip" class="btn btn-secondary" title="Add To Cart">+Add to cart</button>
                </div>
            </div>
        </div>
    </mat-card>
</div>