.card{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
   // border: 1px solid;
}
.cart{
    display: flex;
    justify-content: flex-end;
    width: 78vw;
}
.mainCards{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    // flex-direction: column;
}
// .fit-image{
//     width: 100%;
//     object-fit: cover;
//     height: 300px; /* only if you want fixed height */
//     }