.product{
    width: 50%;
    margin: auto;
    height: 167px;
}
.cart{
display: flex;
justify-content: flex-end;
}
.wholecart{
    display: flex;
    flex-direction: row;
    // border:1px solid;
}
.fullcart{
    border: 1px solid;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%,-50%);
    width: 42em;
    height: 18em;
    margin-top: 100px;
}
// image{
//     width: 250px;        
//      border: 5px solid black;
//      max-width: 100%;
//      max-height: 100%;
//     display: block;
//     background-color: skyblue;
//     // height: 86px;border: 1px solid;width: 220em;
//  }
.container {
    width: auto fit-content;
    flex-direction: row;
    display: flex;
    margin-top: 25%;
    border: 1px solid;
}
.show {
    overflow: visible;
    height: auto;
}
.SeeMore{
    white-space: nowrap;
    font-size: x-small;
}
#dots{
    display: none;
}
// img {
//     max-width: 100%;
//     max-height: 100%;
// }
